* {
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

button {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 2em;
    font-weight: 1000;
    font-size: medium;
    width: 20em;
    border-width: 10px;
    border-radius: 0.9em;
}

button:hover {
    background-color: #e8e8e8;
}